body{
    background-color: black;
    display: grid;
    gap: 20px 20px;
    font-family: Arial, sans-serif;
    color: white;
}

.header{
    grid-row: 1;
    align-items: center;
    display: flex;
    column-gap: 30px;
}

#logo{
    width: 10%;
    max-width: 150px;
}

.container{
    grid-row: 2;
    display: grid;
    row-gap: 30px;
    justify-content: center;
}

#episode-img{
    grid-row: 1;
}

#episode-info{
    grid-row: 2;
    display: grid;
    gap: 10px;
    font-size: large;
}

#episode-info .title{
    font-size: x-large;
    font-weight: bolder;
}